<template>
    <form class="form-horizontal" @submit.prevent="onSubmit" enctype="multipart/form-data">

        <div class="row">
            <div class="form-group required col-sm-6" :class="errors.selected_store ? ' has-error' : ''">
                <label class="col-sm-4 control-label">Store </label>

                <div class="col-sm-8">
                    <multiselect
                            v-model="selected_store"
                            :options="stores"
                            label="name"
                            track-by="name"
                            placeholder="Select Store">
                    </multiselect>
                    <div v-if="errors.selected_store">
                    <span class="help-block">
                        {{ errors.selected_store | string }}
                    </span>
                    </div>
                </div>
            </div>


            <div class="form-group required col-sm-6" :class="errors.selected_ticket_type ? ' has-error' : ''">
                <label class="col-sm-4 control-label">Ticket Type </label>

                <div class="col-sm-8">
                    <multiselect
                            v-model="selected_ticket_type"
                            :options="ticket_types"
                            label="name"
                            track-by="name"
                            placeholder="Select Ticket Type">
                    </multiselect>
                    <div v-if="errors.selected_ticket_type">
                    <span class="help-block">
                        {{ errors.selected_ticket_type | string }}
                    </span>
                    </div>
                </div>
            </div>

        </div>

        <hr class="line-dashed line-full"/>

        <div class="row">

            <div class="form-group required col-sm-6" :class="errors.name ? ' has-error' : ''">
                <label for="name" class="col-sm-4 control-label">Name </label>

                <div class="col-sm-8">
                    <input id="name" type="text" class="form-control" name="name"
                           v-model="ticket.name">
                    <div v-if="errors.name">
                    <span class="help-block">
                        {{ errors.name | string }}
                    </span>
                    </div>
                </div>
            </div>

            <div class="form-group col-sm-6">
                <label for="order_no" class="col-sm-4 control-label">Order No. (Optional)</label>

                <div class="col-sm-8">
                    <input id="order_no" type="text" class="form-control" name="order_no"
                           v-model="ticket.order_no">
                </div>
            </div>

        </div>

        <hr class="line-dashed line-full"/>

        <div class="row">

            <div class="form-group required col-sm-6" :class="errors.email ? ' has-error' : ''">
                <label for="email" class="col-sm-4 control-label">Email </label>

                <div class="col-sm-8">
                    <input id="email" type="email" class="form-control" name="email"
                           v-model="ticket.email">
                    <div v-if="errors.email">
                    <span class="help-block">
                        {{ errors.email | string }}
                    </span>
                    </div>
                </div>
            </div>

            <div class="form-group required col-sm-6" :class="errors.subject ? ' has-error' : ''">
                <label for="subject" class="col-sm-4 control-label">Subject </label>

                <div class="col-sm-8">
                    <input id="subject" type="text" class="form-control" name="subject"
                           v-model="ticket.subject">
                    <div v-if="errors.subject">
                    <span class="help-block">
                        {{ errors.subject | string }}
                    </span>
                    </div>
                </div>

            </div>
        </div>

        <hr class="line-dashed line-full"/>

        <div class="row">
            <div class="form-group required col-sm-6" :class="errors.contact_no ? ' has-error' : ''">
                <label for="contact_no" class="col-sm-4 control-label">Contact No. </label>

                <div class="col-sm-8">
                    <input id="contact_no" type="text" class="form-control" name="contact_no"
                           v-model="ticket.contact_no">
                    <div v-if="errors.contact_no">
                    <span class="help-block">
                        {{ errors.contact_no | string }}
                    </span>
                    </div>
                </div>
            </div>

            <div class="form-group col-sm-6">
                <label for="attached_file" class="col-sm-4 control-label">Attach a File</label>
                <div class="col-sm-3">
                    <input type="text" id="attached_file" class="form-control" name="attached_file"
                           placeholder="ex: /uploads/default_avatar.png" v-model="ticket_image.image" disabled>
                </div>
                <div class="col-sm-5">
                    <img v-if="ticket_image.image != null && ticket_image.image != ''" :src="ticket_image.image" alt=""
                         width="41" height="41">
                    <div class="cover-upload pull-right">
                        <a href="javascript:;" class="btn btn-warning file btn-custom-hover">
                            <span>Upload a File</span>
                            <input type="file" @change="imageUploader">
                        </a>
                    </div>
                </div>
            </div>

        </div>

        <hr class="line-dashed line-full"/>
        <div class="row">
            <div class="form-group col-sm-6">
                <label for="alt_contact_no" class="col-sm-4 control-label">Contact No. (Alternate)</label>

                <div class="col-sm-8">
                    <input id="alt_contact_no" type="text" class="form-control" name="alt_contact_no"
                           v-model="ticket.alt_contact_no">
                </div>
            </div>

            <div class="form-group required col-sm-6" :class="errors.description ? ' has-error' : ''">
                <label for="description" class="col-sm-4 control-label">Description </label>

                <div class="col-sm-8">
                <textarea rows="10" id="description" class="form-control" name="description"
                          v-model="ticket.description"></textarea>
                    <div v-if="errors.description">
                    <span class="help-block">
                        {{ errors.description | string }}
                    </span>
                    </div>
                </div>
            </div>
        </div>

        <hr class="line-dashed line-full"/>

        <div class="form-group">
            <div class="col-sm-2 col-sm-offset-2">
                <button type="submit" class="btn btn-warning ticket-submit btn-custom-hover" :disabled="submitted">
                    Submit

                </button>
            </div>
        </div>

    </form>
</template>

<script>
    import Multiselect from 'vue-multiselect';
    import FormMixin from './FormMixin.vue';

    export default {
        mixins: [FormMixin],
        components: {
            Multiselect
        },
        data () {
            return {
                submitted: false,
                errors: [],
                ticket: {
                    type: Object,
                    default() {
                        return {
                            image: ''
                        }
                    }
                }
            }
        },
        props: {
            ticket_image: {
                type: Object,
                default() {
                    return {
                        image: ''
                    }
                }
            }
        },
        filters: {
            string: function (value) {
                return value.toString();
            }
        },
        methods: {
            onSubmit() {

                this.submitted = true;

                if (this.selected_store === null || this.selected_store === '') {
                    this.errors = {selected_store: 'Store is required.'}
                    toastr.error('Please select a store.')
                    this.submitted = false;
                    return;
                }
                if (this.selected_ticket_type === null || this.selected_ticket_type === '') {
                    this.errors = {selected_ticket_type: 'Ticket Type is required.'}
                    toastr.error('Please select a ticket type.')
                    this.submitted = false;
                    return;
                }

                this.ticket.selected_store = this.selected_store.name
                this.ticket.selected_ticket_type = this.selected_ticket_type.name
                this.startLoader('Submitting ticket...')

                this.$http.post('api/new-ticket', this.ticket)
                    .then((response) => {

                        this.$set(this, 'errors', '');
                        this.submitted = false;
                        this.endLoader()
                        this.clearForm()

                        toastr.success(response.data.message);
                        this.scrollToTop()
                    }).catch((response) => {
                    this.$set(this, 'errors', response.data);
                    this.submitted = false;
                    toastr.error('Errors found in the form, please enter all necessary data to continue.')
                })
            },
            imageUploader(event) {
                this.startLoader('Loading...');
                let files = event.target.files
                let formData = new FormData()
                formData.append('image', files[0])
                formData.append('strategy', 'ticket_attachments')
                this.$http.post('api/file/upload', formData)
                    .then((response) => {
                        if (response.data.error) {
                            this.endLoader()
                            toastr.error(response.data.error)
                            return;
                        }
                        this.endLoader()
                        toastr.success('You uploaded a file successfully!')
                        this.ticket.image = response.data.url
                        this.ticket_image.image = response.data.url

                    }).catch((response) => {
                    toastr.error(response.status + ' : Resource ' + response.statusText)
                })
            },
            clearForm(){
                let vTicket = this.ticket

                vTicket.alt_contact_no = '';
                vTicket.contact_no = '';
                vTicket.description = '';
                vTicket.email = '';
                vTicket.image = '';
                vTicket.name = '';
                vTicket.order_no = '';
                vTicket.subject = '';
                vTicket.selected_store = '';
                vTicket.selected_ticket_type = ''

                this.selected_store = '';
                this.selected_ticket_type = '';
                this.ticket_image.image = '';
            },
            startLoader(message) {
                toastr.warning(message, {timeOut: 50000})
            },
            endLoader() {
                toastr.clear()
            },
            scrollToTop() {
                document.body.scrollTop = document.documentElement.scrollTop = 0;
            }
        }
    }
</script>


<style lang="scss" scoped>
    .cover-upload {
        display: inline-block;
        .file {
            position: relative;
            margin: 0 auto;
            display: block;
            width: 100px;
            height: 41px;
            line-height: 41px;
            font-size: 12px;
            background-color: #CE2127;
            span {
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
            }
            input {
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                width: 100px;
                height: 30px;
                opacity: 0;
            }
        }
    }

    textarea {
        resize: none;
    }

    .ticket-submit {
        background-color: #CE2127;
    }

    .btn-custom-hover:hover {
        background-color: #A91A1F;
    }

    .form-group.required .control-label:after {
        content: "*";
        color: red;
    }
</style>